{% block page_content %}
    {% form_theme form 'widget/fields-block.html.twig' %}
        {% from '_macros/ligne_dossiers.html.twig' import prototype_ligne_dossiers %}

    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Création Dossier</h5>
        <div class="btn btn-icon btn-sm  ms-2" data-bs-dismiss="modal" aria-label="Close">
            <span class="svg-icon svg-icon-2x text-white">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
					<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
				</svg>
            </span>
        </div>
    </div>
    {{ form_start(form, {'attr': {'role':'form', 'class': 'form'}}) }}
    <div class="modal-body content-doc">
        {{ include('_includes/ajax/response.html.twig') }}
        <div class="row">
            <div class="col-md-4">
                {{ form_row(form.workfow) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.libelle) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.dateCreation) }}
            </div>
            <div class="col-md-12">
        
                {{ form_row(form.description) }}
        
            </div>
        
        </div>
    </div>
    <div class="p-8">
        {{ prototype_ligne_dossiers(form) }}
    </div>
    <div class="modal-footer">
        {# {{ include('_includes/ajax/loader.html.twig') }} #}
        <button type="button" class="btn btn-default btn-sm" data-bs-dismiss="modal">Annuler</button>
        <button type="submit" class="btn btn-main btn-ajax btn-sm"><span class="spinner-border d-none  spinner-ajax spinner-border-sm" role="status" aria-hidden="true"></span> Valider</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block java %}
   <script>
    $(document).ready(function () {
        let $workfow = $("#exampleModalSizeSm2").find('#{{ form.workfow.vars.id }}');

        // Initialisation des champs select2 et datepicker
        $('.has-select2').select2();
        $('.no-auto').each(function () {
            const $this = $(this);
            const $id = $('#' + $this.attr('id'));
            init_date_picker($id, 'down', (start, e) => { }, null, null, false);

            $id.on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('DD/MM/YYYY'));
            });
        });

        init_select2('select');

        function enMajuscule(str) {
            return str.split(/\s+/).map(s => s.charAt(0).toUpperCase() + s.substring(1).toLowerCase()).join(" ");
        }

        $("#exampleModalSizeSm2").find('#dossier_workfow').on('keyup', function () {
            $(this).val(enMajuscule($(this).val()));
        });

        init_select2('select', null, '.content-doc');

        const $container = $("#exampleModalSizeSm2").find('.proto-container');
        let index = $container.find('.row-colonne').length;

        $(document).on('select2:select', '.select-type', function () {
            const $this = $(this);
            const $parent = $this.closest('.row-colonne');
            let field_str = $this.find('option:selected').attr('data-require-fields') || '';

            // Cache tous les champs requis
            $parent.find('.source,.valeurs').addClass('d-none');

            // Affiche uniquement ceux sélectionnés
            field_str.split(',').forEach(field => {
                $parent.find('.' + field).removeClass('d-none');
            });
        });

        $('.add_line').click(function (e) {
            e.preventDefault();
            const $this = $(this);
            const proto_class = $this.attr('data-protoclass');
            const name = $this.attr('data-protoname');
            const $container = $($this.attr('data-container'));

            addLine($container, name, proto_class);
        });

        function addLine($container, name, proto_class) {
            let $prototype = $($(proto_class).attr('data-prototype')
                .replace(new RegExp(name + 'label__', 'g'), 'Colonne ' + (index + 1))
                .replace(new RegExp(name, 'g'), index));

            init_select2($prototype.find('select'), null, '#exampleModalSizeSm2');
            addDeleteLink($prototype);
            $container.append($prototype);
            index++;
        }

        function addDeleteLink($prototype) {
            let $deleteLink = $('<a href="#" class="btn btn-danger btn-xs"><span class="fa fa-trash"></span></a>');
            $prototype.find(".del-col").append($deleteLink);

            $deleteLink.click(function (e) {
                e.preventDefault();
                $(this).closest('.row-colonne').remove();
                if (index > 0) {
                    index--;
                }
            });
        }

        function load_content(url) {
            const $form_content = $("#exampleModalSizeSm2").find(`#form-content`);

            $.ajax({
                url: url,
                method: 'GET',
                dataType: 'html',
                beforeSend: function () {
                    $form_content.html(`<div class="text-center"> 
                        <strong>Chargement des données de l'étape</strong><br>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>`);
                },
                success: function (html) {
                    $form_content.html(html);
                },
                error: function () {
                    $form_content.html('<div class="text-center text-danger">Une erreur est survenue...</div>');
                }
            });
        }

        function load_principal(filters = {}) {
            $.ajax({
                url: "{{ path('app_dossier_dossier_new')}}",
                method: 'GET',
                dataType: 'html',
                data: filters
            });
        }

        $workfow.on('change', function () {
            const val = $(this).val();
            let urlTemplate = "{{ path('app_dossier_dossier_new_load', {workfow: 'workfow'}) }}";
            let url = urlTemplate.replace('workfow', val);

            load_principal({ workfow: val });
            load_content(url);
        });

        const urlGeneral = "{{ path('app_dossier_dossier_new_load', {workfow: 'workfow'}) }}";
        const urlPrincipal = urlGeneral.replace('workfow', $workfow.val());

        load_principal({ workfow: $workfow.val() });
        load_content(urlPrincipal);
    });
</script>


{% endblock %}